@using MudBlazor

<h3>Experiment</h3>


<p>@Test</p>

<MudButton OnClick="ButtonClicked">
    Increment
</MudButton>

<MudButton OnClick="Finish">
    Finish
</MudButton>

@code {

    [Parameter]
    public int Test { get; set; }
    [Parameter]
    public EventCallback<int> TestHasChanged { get; set; }
    
    private void ButtonClicked()
    {
        Test++;
    }
    
    private async Task Finish()
    {
        await TestHasChanged.InvokeAsync(Test);
    }
}
